.header{
    background-color: rgba(166, 109, 220, 0.609);
    width: 100%;
    margin-top: 10px;
    height:55px;
    align-content: center;
  }
  .form-container {
    max-width: 700px;
    margin: 0 auto;
    padding:20px;
    margin-top:60px;
    background-color: rgba(94, 139, 199, 0.623);
    border-radius: 20px;
    /* box-shadow: 32px 34px 10px 1px rgba(37, 163, 183, 0.54); */
    outline: 7px double #000;
  outline-offset: 11px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 3px;
    margin-top: 10px;
    color:black;
    font-weight: 500;
    font-size: 20px;
  }
  
  .form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  
.next_btn {
  margin-left: 540px;
}


.privious_btn {
  margin-left: -25px;
  width: 90px;
  
}
.successmsg{
  font-size: 60px;
  width:250px;
  align-items: center;
   margin-left: 1030px;
  margin-top:-250px 
}
