/* main page css */
.main_div{
    width: 640px;
    height: 400px;
    margin-left: 350px;
    margin-top: 50px;
    /* background-color: rgb(1, 1, 1);  */
  }
  
  .sub_div{
    /* background-color: rgba(44, 87, 168, 0.484); */
    margin-right:100px;
    margin-left: 100px;
  }
  .main_btn{
    margin-top: 100px;
    margin-right: 20px;
    width:200px;
    height: 200px;
    border:none;
    background-color: rgba(27, 217, 204, 0.63);
  }
  
  .main_btn:hover{
    background-color: rgba(191, 97, 30, 0.621);
  }
  